<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Jianfeng DEMO{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script type="text/jscript">
        function change_fact(c_type){
            document.getElementById("c_type").value=c_type;
            document.getElementById("body_textarea").focus()
        }

        function add_spec(this_input){
            document.getElementById("body_textarea").value=document.getElementById("body_textarea").value+this_input;
            document.getElementById("body_textarea").focus()
        }

        function add_function(this_input){
            if (document.getElementById("c_type").value=="Predicates"){
                document.getElementById("body_textarea").value=document.getElementById("body_textarea").value+this_input;
                document.getElementById("body_textarea").focus()
            }

        }
    </script>
</head>



<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong>Jianfeng</strong></a>
            <small class="text-muted sub-title">DEMO</small>
        </h1>
        <h4 class="text-center">
            <small>Discussion Topic: The money was stolen. Who stole the money?</small>
        </h4>

        <h6 class="text-center">
            <small>Respect Mao Jianfeng</small>
        </h6>

    </header>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}

    <footer class="text-center">
        {% block footer %}
            <p>A CUHK(SZ) ERG3020 Project</p>
        {% endblock %}

        <form action="/refresh" method="get">
            <button name="refresh" type=submit class="btn btn-secondary">Refresh the data</button>
        </form>

    </footer>

</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Action.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}

<script type="text/javascript">
document.getElementById("submit_btn").className = "btn btn-primary"
document.getElementById("c_type").style="display: none"
document.getElementById("c_type").value="Facts"
document.getElementById("body_textarea").focus()
document.getElementById("facts_btn").click()

</script>
<!--

"
-->





</body>
</html>
