{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}

<table width="100%" border="0" style="vertical-align: top">
      <tbody>
        <tr>
          <td width="38%" style="vertical-align: top">
              <!--Name Entities and Functions-->
                  <h5>Named Entities Mentioned</h5>
                    <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-success">Person</h5>
                                </div>
                                <p class="mb-1">{{ nen_per }}</p>
                            </a>
                        <a class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-success">Organization</h5>
                                </div>
                                <p class="mb-1">{{ nen_org }}</p>
                            </a>
                        <a class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-success">Location</h5>
                                </div>
                                <p class="mb-1">{{ nen_loc }}</p>
                            </a>


                    </div>
                    <p></p>

                    <!-- Functions -->
                    <h5>Functions Mentioned</h5>
                    <small>Click each function to add it to your logic expression.</small>
                    <div class="list-group">
                        {% for function in functions %}
                            <a class="list-group-item list-group-item-action flex-column" onclick="add_function('{{ function.prefix }}')">
                                <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-success">{{ function.title }}
                                </h5>
                            </div>
                                <p class="mb-2" style="color: #999999; font-size: 12px">{{ function.body }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    <p></p>
              <!-- information extraction module ended -->


              <!-- Inference Result Module  -->
              <h5>The Underlying Truth given by MLN</h5>
              <p>
                <form action="/refresh_inf" method="get">
                    <button name="refresh_inf" type=submit class="btn btn-secondary">Get Truth</button>
                </form>
              </p>

              <div class="list-group">
                    {% for double in infresult %}
                        <a class="list-group-item list-group-item-action flex-column">

                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-success">{{ double.prob }}%
                                </h5>
                            </div>

                            <p class="mb-1">{{ double.event }}</p>
                        </a>
                    {% endfor %}
                </div>


          </td>


            <td width="4%" style="vertical-align: top">&nbsp;</td>


          <td width="58%" style="vertical-align: top">
              <!-- Input Area -->
              <h5>Any Comments?</h5>
                  <div class="container">
                    <!-- 胶囊选项卡 -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#pan1" data-toggle="pill" class="btn btn-success" style="margin: 10px" id="facts_btn" onclick="change_fact('Facts')">Facts</a></li>
                        <li><a href="#pan2" data-toggle="pill" class="btn btn-success" style="margin: 10px" id="pred_btn" onclick="change_fact('Predicates')">Predicate and Logic</a></li>
                        <li><a href="#pan3" data-toggle="pill" class="btn btn-success" style="margin: 10px" id="emo_btn" onclick="change_fact('Emotional')">Emotional</a></li>
                    </ul>
                    <!-- 面板 -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="pan1">You can tell us some facts (in Third Person) and pay attention to grammar.
                            <br/>
                            For example: If you are Tom and you suspect that Steve stole the money, you can type:
                            <br/>
                            Tom accuses Steve of stealing the money.
                        </div>
                        <div class="tab-pane" id="pan2">If you want to post here, you are suggested to have a good command of First Order Logic.
                            <br/>
                            Logic operators provided here may be useful.
                            <br/>
                            For example: steal(x) ∩ accuses_of_stealing(x,y) => !lie(y)
                            It means, if x steals the money and y accuses x of stealing, then y does not lie.
                            <br/>
                            <input type="button" name="button" value="!" class="btn btn-info" style="margin: 10px" id="add_not" onclick="add_spec('!')">
                            <input type="button" name="button" value="=>" class="btn btn-info" style="margin: 10px" id="add_entail" onclick="add_spec('=>')">
                            <input type="button" name="button" value="<=>" class="btn btn-info" style="margin: 10px" id="add_equal" onclick="add_spec('<=>')">
                            <input type="button" name="button" value="∪" class="btn btn-info" style="margin: 10px" id="add_or" onclick="add_spec('∪')">
                            <input type="button" name="button" value="∩" class="btn btn-info" style="margin: 10px" id="add_and" onclick="add_spec('∩')">

                            <input type="button" name="button" value="(" class="btn btn-info" style="margin: 10px" id="add_left" onclick="add_spec('(')">
                            <input type="button" name="button" value=")" class="btn btn-info" style="margin: 10px" id="add_right" onclick="add_spec(')')">
                            <input type="button" name="button" value="," class="btn btn-info" style="margin: 10px" id="add_comma" onclick="add_spec(',')">

                            <input type="button" name="button" value="x" class="btn btn-info" style="margin: 10px" id="add_x" onclick="add_spec('x')">
                            <input type="button" name="button" value="y" class="btn btn-info" style="margin: 10px" id="add_y" onclick="add_spec('y')">
                            <input type="button" name="button" value="z" class="btn btn-info" style="margin: 10px" id="add_z" onclick="add_spec('z')">

                        </div>
                        <div class="tab-pane" id="pan3">
                            Feel free to say something of this topic, and speeches in this area will not be plugged into inference process.
                            <br/> For example: I hate the stealer!
                        </div>

                    </div>
                  </div>
              {{ render_form(fact_form, action=request.full_path) }}

              <p></p>

              <!--Comments area -->

              <!-- This is Predicates Rank 1 -->
                <h5>{{ predicates|length }} Predicates</h5>
                <div class="list-group">
                    {% for predicate in predicates %}
                        <a class="list-group-item list-group-item-action flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-success"> {{ predicate.nl_body }}
                                   <!-- <small class="text-muted"> #{{ loop.revindex }}</small> -->
                                </h5>
                            </div>
                            <p class="mb-1" style="color: #999999; font-size: 12px">{{ predicate.body }}</p>
                        </a>
                    {% endfor %}
                </div>
                <p></p>

                <!-- Facts will be displayed at 2 -->

                <h5>{{ facts|length }} Facts</h5>
                <div class="list-group">
                    {% for fact in facts %}
                        <a class="list-group-item list-group-item-action flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-success">{{ fact.nl_body}}
                                   <!-- <small class="text-muted"> #{{ loop.revindex }}</small> -->
                                </h5>
                                <!--
                                <small data-toggle="tooltip" data-placement="top"
                                       data-timestamp="{{ fact.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                                       data-delay="500">
                                    {{ moment(fact.timestamp).fromNow(refresh=True) }}
                                </small>
                                -->
                            </div>
                            <p class="mb-1" style="color: #999999; font-size: 12px">{{ fact.body }}</p>
                        </a>
                    {% endfor %}
                </div>
                <p></p>
                <!-- Emotional -->
                <h5>{{ emotionals|length }} Emotionals</h5>
                <div class="list-group">
                    {% for emotional in emotionals %}
                        <a class="list-group-item list-group-item-action flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-success">{{ emotional.c_type }}
                                   <!-- <small class="text-muted"> #{{ loop.revindex }}</small> -->
                                </h5>
                                <!--<small data-toggle="tooltip" data-placement="top"
                                       data-timestamp="{{ emotional.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                                       data-delay="500">
                                    {{ moment(emotional.timestamp).fromNow(refresh=True) }}
                                </small>-->
                            </div>
                            <!--
                            <p class="mb-1">{{ emotional.entity }}</p>
                            -->
                            <p class="mb-2">{{ emotional.nl_body }}</p>
                        </a>
                    {% endfor %}
                </div>

          </td>
        </tr>

        <tr>
          <td style="vertical-align: top"></td>
            <td style="vertical-align: top"></td>
          <td style="vertical-align: top">


          </td>
        </tr>
      </tbody>
</table>


{% endblock %}
